
#profile-wrapper{
    text-align: center;
}
#profile-wrap{
    text-align:center;
}

#profile-pic{
    width: 200px;
    height: 200px;
}
#profile-p{
    width: 500px;
    height: 100px;
    margin-left:auto;
    margin-right: auto;
}
#space{
  word-spacing:200px;
}


#spaced{
  word-spacing:100px;
}
